.modalContainer{
    position: fixed;
    top: 25%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.contentContainer{
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalWrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
    z-index: 9;
}
.account-input{
    width: '80%';
    margin-bottom: 15px;
    height: 25px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    margin-bottom: 20px;
    width: 100%;
}
.signInText{
    text-decoration: underline;
    cursor: pointer;
}
.errorMsgContainer{
    background-color: #f05545;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width:80%;
    margin-bottom: 10px; 
    font-size: 13px;
}